html {
  text-align: center;
  font-family: 'sigmar one', sans-serif;
}
body {
  margin: 0px;
  background-color: pink;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: white;
  margin-bottom: 2%;
}

#addUser {
  margin-bottom: 2%;
  padding: 1%;
}
nav a {
  display: inline-block;
  padding: 10px;
}

nav a:hover {
  background-color: darkgoldenrod;
  color: black;
}
* {
  box-sizing: border-box;
}
.userBlock {
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
}

.userCard {
  background-color: lightblue;
  padding: 1%;
  margin-left: 8%;
  margin-right: 8%;
  border: 1px solid black;
}
.profileEditor {
  background-color: aquamarine;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  margin-left: 8%;
  margin-right: 8%;
}
@media screen and (max-width: 550px) {
  h1 {
      margin: 0px;
  }
  nav {
      flex-direction: column;
  }
  nav div {
      display: flex;
      flex-direction: column;
  }
}