html {
  text-align: center;
  font-family: 'sigmar one', sans-serif;}
body {
  margin: 1%;
  background-color: pink;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: white;
  margin-bottom: 1%;
}
nav a {
  display: inline-block;
  padding: 10px;
}

nav a:hover {
  background-color: darkgoldenrod;
  color: black;
}
* {
  box-sizing: border-box;
}
.cartBlock {
  /* background-color: antiquewhite; */
  background-color: antiquewhite;
  border-color: black;
  border-width: 10px;
  border-radius: 5px;
  border-style: double;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
  padding-top: 2%;

}

@media screen and (max-width: 550px) {
  h1 {
      margin: 0px;
  }
  nav {
      flex-direction: column;
  }
  nav div {
      display: flex;
      flex-direction: column;
  }
}