html {
  text-align: center;
  font-family: 'sigmar one', sans-serif;
}
body {
  margin: 0px;
  background-color: pink;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: white;
}
main {
  background-color: antiquewhite;
  border-radius: 5px;
  border-width: 5px;
  border-style: solid;
  margin: 2%;
}
#lists {
  display: flex;
  flex-direction: row;
}
.orderBlock {
  /* border-color: black;
  border-width: 3px;
  border-style: solid; */
  flex-direction: row;
  display: flex;
  gap: 20px;
}
#orderHistory {
  width: 100%
}
#cardPhotos {
  border: none;
  width: 25%;
  height: 25%;
}
#timeline {
  width: 100%;
}
.timeBlock {
  background-color: rgb(66, 188, 240);
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  padding: 2%;
}
img {
  /* border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 25px; */
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 80%;
}
#mainInformation {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: darkgoldenrod;
  color: black;
}
* {
  box-sizing: border-box;
}
@media screen and (max-width: 550px) {
  h1 {
      margin: 0px;
  }
  main {
      margin-bottom: 30px;
      flex-direction: column;
  }
  nav {
      flex-direction: column;
  }
  nav div {
      display: flex;
      flex-direction: column;
  }
  #mainInformation {
      flex-direction: column;
  }
  #lists {
      flex-direction: column;
  }
  #timeline {
      width: 100%;
  }

  img{
    width: 80%;
    height: 80%;
  }
}